html { height: 100% }
body { color: ##99B3CC; background-color:#a5bfdd; height: 100%; margin: 0px; padding: 0px; } 
legend { color: black; font-family:Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; padding-top: 5px; padding-left:10px; padding-right:10px; margin-left:0px; padding-bottom: 0px; }
form img { margin-right: 5px; margin-left: 2px; }
input { float: left; margin-top: 0px; }
label { margin-bottom: 0px; }
ol, li, fieldset { margin: 0px; padding: 1px; font-family:Arial,Helvetica,sans-serif; font-size: 11px; clear: both; }
.form { margin-right:2px; margin-left:2px; float:left; width:130px; }
.c { text-align: center; padding: 3px; }
.centreform { font-size: 0.9em; float: none; padding: 3px; }
.bottomli { padding-bottom: 5px; }
.fldLast { margin-top: 5px; } 
.imgDot { border: 0; width: 8px; height: 8px; }
.imgLogo { border: 0; width: 130px; height: 30px; }
#dvMap { height:100% }

